:root {
	--font-family: 'Pretendard';
	--black-color: #000;
	--vh: 100%;
}

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* Normalize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

button,
input,
select,
textarea {
	font-family: inherit;
	outline: none;
}

button {
	border: none;
	transition: all 0.2s;
	cursor: pointer;
}

textarea {
	resize: none;
}

.img {
	width: 100%;
	height: auto;
	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0);
	backface-visibility: hidden;
}

/* 스크롤 */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #cccccc;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

/* checkbox */
input[type=checkbox] {
	display: none;
}

input[type=checkbox]+label {
	display: inline-block;
	line-height: 20px;
	background: url('../img/ico-check-box-off.svg') left center no-repeat;
	padding-left: 30px;
	cursor: pointer;
}

input[type=checkbox]:checked+label {
	display: inline-block;
	line-height: 20px;
	background: url('../img/ico-check-box-on.svg') left center no-repeat;
}

/* swal 라이브러리 */
.custom-swal-title {
	font-family: var(--font-family) !important;
	font-size: 18px !important;
	color: #222 !important;
}

.custom-swal-popup {
	width: 320px !important;
	font-size: 13px !important;
	padding: 10px !important;
}

.swal2-styled.swal2-confirm {
	padding: 8px 20px;
	outline: none !important;
	box-shadow: none !important;
	background-color: #0d6eee !important;

	&:hover {
		background-color: #0d6eee !important;
	}
}

.swal2-styled.swal2-cancel {
	padding: 8px 20px;
	outline: none !important;
	box-shadow: none !important;
	background-color: #b8b8b8 !important;

	&:hover {
		background-color: #b8b8b8 !important;
	}
}

/* 공통사항 */
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

body {
	font-family: var(--font-family);
	color: var(--black-color);
}

.wrap {
	width: 100%;
	min-width: 1200px;
}

.wrapper {
	max-width: 1400px;
	margin: auto;
}

/* header */
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: #0d6eee;
	padding: 28px 20px;

	&.active {
		background-color: #e6f0fe;
		padding: 8px 20px;

		.wrapper nav {
			ul li {
				color: #659ae1;

				&.active {
					color: #0d6eee;
				}
			}

			.login {
				color: #0d6eee;
				border: 1px solid #0d6eee;
				background-color: #e6f0fe;
			}
		}
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		nav {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			ul {
				display: flex;
				align-items: center;
				column-gap: 40px;

				li {
					font-size: 18px;
					color: #bcd7fb;
					cursor: pointer;

					&.active {
						font-size: 18px;
						font-weight: bold;
						color: #fff;
					}
				}
			}

			.login {
				display: flex;
				justify-content: center;
				align-items: center;
				min-width: 120px;
				height: 44px;
				font-size: 18px;
				font-weight: 600;
				color: #fff;
				border-radius: 8px;
				border: 1px solid #eff6ff;
				background-color: transparent;
				margin-left: 40px;
				transition: all 0.2s;

				&:hover {
					color: #0d6eee;
					background-color: #fff;
				}
			}
		}
	}
}

/* page */
.page {
	background-color: #fff;
	padding: 120px 0 90px;

	.title {
		font-size: 60px;
		font-weight: 800;
		text-align: center;
		line-height: 1.03;
	}

	.cont {
		font-size: 26px;
		font-weight: 500;
		text-align: center;
		line-height: 1.54;
		color: #777;
		margin-top: 25px;
	}

	.blue {
		color: #0d6eee !important;
	}
}

/* page1 */
.page1 {
	background-color: #0d6eee;
	overflow: hidden;
	padding: 270px 20px 0;

	.wrapper {
		display: flex;
		justify-content: space-between;

		.left {
			position: relative;

			&::before {
				content: "";
				width: 893px;
				height: 228px;
				position: absolute;
				bottom: 46px;
				background: url('../img/logo-main.png') no-repeat center;
			}

			h2 {
				font-size: 76px;
				line-height: 1.18;
				letter-spacing: 4.56px;
				color: #fff;
				margin-top: 10px;
			}

			p {
				font-size: 26px;
				color: #bcd7fb;
				margin: 20px 0 50px;
			}

			.btn_wrap {
				display: flex;
				column-gap: 20px;

				button,
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 206px;
					height: 60px;
					font-size: 22px;
					font-weight: 600;
					color: #fff;
					border-radius: 8px;
					border: 1px solid #eff6ff;
					background-color: transparent;
					transition: all 0.2s;

					&:hover {
						color: #0d6eee;
						background-color: #fff;
					}
				}
			}
		}

		.right {
			display: flex;
			column-gap: 30px;

			p {
				font-size: 22px;
				text-align: right;
				line-height: 1.36;
				color: #bcd7fb;
				margin-top: 177px;

				strong {
					color: #fff;
				}
			}

			.phone {
				border-radius: 37px;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			}
		}
	}
}

/* page2 */
.page2 {
	background-color: #fbfbfb;
	padding: 100px 0 90px;

	.swiper-pagination {
		bottom: 0px;

		.swiper-pagination-bullet {
			width: 20px;
			height: 8px;
			border-radius: 4px;
			background-color: #bbb;
			opacity: 1;
			margin: 0 8px !important;

			&.swiper-pagination-bullet-active {
				width: 100px;
				background-color: #0d6eee;
			}
		}
	}
}

.swiper.type0 {
	width: 100%;
	overflow: hidden;
}

.page2_1 {
	.swiper {
		padding: 100px 0 120px;
		max-width: 1910px;

		.swiper-wrapper {
			transition-timing-function: linear !important;
		}

		.swiper-slide {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 396px;
			height: 415px;
			border-radius: 40px;
			border: 1px solid #ececec;
			background-color: #fff;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
			padding: 45px 10px 40px 45px;

			&::before {
				content: "";
				width: 98px;
				height: 98px;
				display: inline-block;
			}

			&.slide1 {
				&::before {
					background: url('../img/ico-sec-02-1.svg') no-repeat center/contain;
				}
			}

			&.slide2 {
				&::before {
					background: url('../img/ico-sec-02-2.svg') no-repeat center/contain;
				}
			}

			&.slide3 {
				&::before {
					background: url('../img/ico-sec-02-3.svg') no-repeat center/contain;
				}
			}

			&.slide4 {
				&::before {
					background: url('../img/ico-sec-02-4.svg') no-repeat center/contain;
				}
			}

			&.slide5 {
				&::before {
					background: url('../img/ico-sec-02-5.svg') no-repeat center/contain;
				}
			}

			h3 {
				font-size: 34px;
				font-weight: 500;
				font-weight: 500;
				color: #3a3a3a;
				margin-bottom: 5px;
			}

			div {
				strong {
					display: inline-block;
					font-size: 80px;
					color: #0d6eee;
					margin-right: 4px;

					&.m {
						display: inline-block;
						font-size: 66px;
						margin: 11px 0 10px;
					}
				}

				span {
					font-size: 40px;
					font-weight: 500;
					color: #3a3a3a;

					&.PLUS {
						font-size: 44px;
						margin-left: 2px;
					}
				}
			}
		}
	}
}

.page2_2 {
	padding: 0 20px;

	.wrapper {
		display: flex;
		column-gap: 40px;
		padding: 51px 0;

		article {
			width: 407px;
			height: 533px;
			min-width: 300px;
			border-radius: 40px;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
			border: 1px solid #ececec;
			background-color: #fff;
			padding: 30px 25px 25px 25px;

			&:last-child {
				min-width: 390px;
			}

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&.m {
				width: 505px;
			}

			h3 {
				font-size: 22px;
				margin-left: 5px;
			}

			.chart1 {
				height: 100%;
				height: 262px;
				margin: 20px 0 10px;
			}

			.chart2 {
				position: relative;
				height: 180px;
				margin-top: 25px;

				ul {
					position: absolute;
					top: 60%;
					left: calc(50% - 38px);

					li {
						font-size: 16px;
						font-weight: 500;
						color: #777;

						&:not(:last-child) {
							margin-bottom: 5px;
						}

						span {
							display: inline-block;
							width: 8px;
							height: 8px;
							background-color: #ececec;
							margin-right: 5px;
						}

						&:nth-child(2) {
							span {
								background-color: #2962ff;
							}
						}

						&:nth-child(3) {
							span {
								background-color: #93afff;
							}
						}
					}
				}
			}

			.chart3 {
				position: relative;
				left: -10px;
				width: calc(100% + 10px);
				height: 55px;
				margin: 25px 0 15px;
			}

			.chart4 {
				.circle_wrap {
					position: relative;
					display: flex;
					height: 236px;

					.circle {
						position: absolute;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 15px;
						font-weight: 500;
						color: #777;
						border-radius: 50%;
						background-color: #ececec;
						animation: float 1s ease-in-out infinite;

						&.circle1 {
							top: 35px;
							left: 6px;
							width: 134px;
							height: 134px;
							font-size: 18px;
							color: #fff;
							background-color: #0d6eee;
							animation-delay: 1s;
						}

						&.circle2 {
							left: 120px;
							width: 71px;
							height: 71px;
							font-size: 13px;
							animation-delay: 1.1s;
						}

						&.circle3 {
							right: 70px;
							width: 95px;
							height: 94px;
							animation-delay: 1.2s;
						}

						&.circle4 {
							position: absolute;
							top: 75px;
							right: 10px;
							width: 115px;
							height: 115px;
							font-size: 18px;
							color: #fff;
							background-color: #0d6eee;
							animation-delay: 1.3s;
						}

						&.circle5 {
							top: 120px;
							left: 120px;
							width: 111px;
							height: 111px;
							animation-delay: 0.9s;
						}
					}
				}
			}

			/* 둥둥 애니 */
			@keyframes float {

				0%,
				100% {
					transform: translateY(0);
				}

				50% {
					transform: translateY(-10px);
				}
			}

			.box_wrap {
				display: flex;
				justify-content: space-between;
				column-gap: 20px;

				.box {
					width: 100%;
					height: 150px;
					text-align: center;
					border-radius: 17px;
					background-color: #fbfbfb;
					padding: 18px 0 23px;

					strong {
						font-size: 46px;
					}

					span {
						font-size: 28px;
						font-weight: 500;
						color: #3a3a3a;
					}

					.plus {
						font-size: 32px;
						font-weight: normal;
					}

					div {
						font-size: 16px;
						color: #3a3a3a;
						margin: 6px 0 3px;
					}

					p {
						font-size: 18px;
						font-weight: bold;
						line-height: 1.44;
						color: #3a3a3a;

						&.m {
							font-size: 22px;
							font-weight: bold;
							color: #000;
							margin-bottom: 17px;

							span {
								font-size: 22px;
							}
						}

						&.gray {
							color: #0d6eee;
						}

						span {
							font-size: 18px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

/* page3 */
.page3 {
	padding: 90px 20px 100px;

	.wrapper {

		.title {
			font-size: 50px;
			font-weight: 800;
			text-align: left;
		}

		.swiper {
			position: relative;

			.swiper-wrapper {

				.swiper-slide {
					margin-top: 70px;
					text-align: center;

					h3 {
						font-size: 30px;
						font-weight: bold;
						margin-bottom: 20px;
					}

					p {
						font-size: 22px;
						font-weight: bold;
						line-height: 1.36;
						color: #3a3a3a;
					}

					.big_data {
						display: flex;
						justify-content: center;
						column-gap: 56px;
						margin: 67px 0 115px;

						&>div {

							h5 {
								font-size: 26px;
								font-weight: bold;
							}

							ul {
								li {
									font-weight: bold;
									color: #3a3a3a;
								}
							}
						}

						&>span {
							width: 50px;
							height: 50px;
							display: inline-block;
							background: url('../img/ico-sec-03-1-arrow.svg') no-repeat center;
							margin-top: 153px;
						}

						.box1,
						.box3 {
							ul {
								li {
									display: flex;
									justify-content: center;
									align-items: center;
									width: 180px;
									height: 86px;
									font-size: 18px;
									border-radius: 10px;
									background-color: #eff6ff;
								}
							}
						}

						.box1 {
							ul {
								margin-top: 49px;

								li {
									position: relative;

									&:not(:last-child) {
										margin-bottom: 40px;
									}

									&:last-child::before {
										content: "";
										position: absolute;
										top: -35px;
										left: calc(50% - 15px);
										width: 30px;
										height: 30px;
										bottom: 0;
										background: url('../img/ico-sec-03-1-plus.svg') no-repeat center;
									}
								}
							}
						}

						.box2 {
							ul {
								margin-top: 44px;

								li {
									display: flex;
									align-items: center;
									font-size: 22px;

									&:not(:last-child) {
										margin-bottom: 40px;
									}

									&::before {
										content: "";
										width: 42px;
										height: 42px;

										background: url('../img/ico-sec-03-1-1.svg') no-repeat center;
										margin-right: 15px;
									}

									&:nth-child(2) {
										&::before {
											background: url('../img/ico-sec-03-1-2.svg') no-repeat center;
										}
									}

									&:nth-child(3) {
										&::before {
											background: url('../img/ico-sec-03-1-3.svg') no-repeat center;
										}
									}
								}
							}
						}

						.box3 {
							ul {
								display: flex;
								flex-wrap: wrap;
								column-gap: 13px;
								row-gap: 15px;
								max-width: 375px;
								margin-top: 27px;

								li {
									height: 70px;
								}
							}
						}
					}

					.slide_img2 {
						margin: 40px 0 20px;
					}

					.slide_img3 {
						margin: 51px 0 45px;
					}

					.slide_img4 {
						margin: 33px 0 33px;
					}

					.cont {
						font-size: 18px;
						font-weight: 500;
						line-height: 1.44;
						color: #777;
					}
				}
			}

			.swiper-pagination {
				display: flex;
				column-gap: 15px;
				top: 0px;
				left: auto;
				right: 0;
				width: auto;
				max-height: 40px !important;

				.swiper-pagination-bullet {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
					font-size: 20px;
					font-weight: bold;
					color: #bbb;
					border: 3px solid #ececec;
					background-color: #fff;
					opacity: 1;
					margin: 0;

					&.swiper-pagination-bullet-active {
						width: auto;
						font-size: 20px;
						font-weight: 500;
						color: #fff;
						border-radius: 20px;
						padding: 0 16px 0 14px;
						background-color: #0d6eee;
						border: none;

						span {
							font-size: 18px;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

/* page4 */
.page4 {
	width: 100%;
	height: 100%;
	background: url('../img/sec-04-bg.png') no-repeat top/cover;
	padding: 110px 20px 95px;

	.wrapper {
		display: flex;
		justify-content: space-between;

		.title_wrap {
			flex-shrink: 0;

			.title {
				font-size: 50px;
				font-weight: 800;
				margin: 115px 0 24px;
			}

			p {
				font-size: 26px;
				font-weight: 500;
				line-height: 1.54;
				color: #777;
			}
		}

		.pagination_wrap {
			margin-top: 100px;

			.swiper-pagination {
				display: flex;
				flex-direction: column;
				row-gap: 20px;
				top: auto;
				bottom: auto;
				left: auto;
				width: auto;
			}

			.swiper-pagination-bullet {
				position: static !important;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 206px;
				height: 60px;
				font-size: 22px;
				font-weight: bold;
				color: #777;
				border-radius: 8px;
				border: 1px solid #ececec;
				background-color: #ececec;
				opacity: 1;

				&.swiper-pagination-bullet-active {
					color: #fff;
					background-color: #0d6eee;
				}
			}
		}

		.phone_wrap {
			display: flex;
			justify-content: flex-end;
			column-gap: 80px;

			&>.swiper {
				width: 350px;
				min-width: 350px;
				padding-bottom: 40px;
				margin: 0 5px 0 25px;

				.swiper-pagination {
					bottom: 0px;

					.swiper-pagination-bullet {
						width: 10px;
						height: 10px;
						background-color: #ececec;
						opacity: 1;
						margin: 0 6px;

						&.swiper-pagination-bullet-active {
							background-color: #0d6eee;
						}
					}
				}
			}

			.cont_list {
				margin-top: 159px;

				h5 {
					width: 110px;
					font-size: 18px;
					text-align: center;
					border-radius: 9px;
					background-color: #ececec;
					padding: 10px;
				}

				p {
					font-size: 24px;
					font-weight: 500;
					line-height: 1.5;
					color: #777;
					margin: 15px 0 50px;
				}
			}
		}
	}
}

/* page5 */
.page5 {
	padding: 130px 0 185px;

	.swiper-wrapper {
		transition-timing-function: linear !important;

		.swiper-slide {
			width: 160px;
			height: 61px;
		}
	}

	.swiper.type5 {
		margin: 185px 0 40px
	}

	.swiper.type6 {
		direction: rtl;

		.swiper-slide {
			direction: ltr;
			transform: scaleX(-1);

			img {
				transform: scaleX(-1);
			}
		}
	}
}

.page6 {
	padding: 100px 20px;
	background-color: #0d6eee;

	.title {
		color: #fff;
	}

	.cont {
		color: #bcd7fb;
	}

	form {
		margin-top: 70px;

		.form_wrap {
			display: flex;
			justify-content: space-between;
			column-gap: 121px;

			label {
				display: flex;
				align-items: flex-start;
				font-size: 14px;
				font-weight: bold;
				color: #fff;

				&::after {
					content: "";
					width: 5px;
					height: 5px;
					background-color: #ffd33d;
					margin-left: 4px;
				}
			}

			input {
				width: 100%;
				font-size: 16px;
				color: #fff;
				border: none;
				border-bottom: 1px solid #4292fc;
				background-color: transparent;
				padding: 15px 0 10px;

				&::placeholder {
					color: #bcd7fb;
				}
			}

			select {
				width: 100%;
				font-size: 16px;
				color: #bcd7fb;
				border: none;
				border-bottom: 1px solid #4292fc;
				background: none;
				padding: 13px 0 10px;

				option {
					color: #000;
				}
			}

			textarea {
				width: 100%;
				height: 347px;
				font-size: 16px;
				line-height: 1.63;
				color: #fff;
				border: 1px solid #4292fc;
				background-color: transparent;
				padding: 15px;
				margin-top: 15px;

				&::placeholder {
					color: #bcd7fb;
				}
			}

			.month_pay {
				position: relative;

				.won {
					position: absolute;
					font-size: 16px;
					color: #fff;
					bottom: 10px;
					right: 0;
				}
			}

			.form_group1 {
				display: flex;
				justify-content: space-between;
				align-content: flex-start;
				flex-wrap: wrap;
				flex: 1;
				row-gap: 41px;
				min-width: 830px;

				&>div {
					width: 100%;
					max-width: 386px;
				}
			}

			.form_group2 {
				width: 100%;
				max-width: 386px;
			}
		}

		.check_wrap {
			display: flex;
			column-gap: 18px;
			padding: 18px 0 10px;

			label {
				font-weight: normal;
			}

			label::after {
				width: 0;
				height: 0;
			}
		}

		.check_wrap2 {
			text-align: center;
			margin: 60px 0 15px;

			label {
				font-size: 16px;
				color: #fff;
			}
		}

		.btn_wrap {
			text-align: center;

			button {
				width: 386px;
				height: 60px;
				font-size: 22px;
				font-weight: 600;
				color: #fff;
				border-radius: 8px;
				border: 1px solid #eff6ff;
				background-color: transparent;

				transition: all 0.2s;

				&:hover {
					color: #0d6eee;
					background-color: #fff;
				}
			}
		}
	}
}

/* footer */
footer {
	padding: 60px 0 80px;
	background-color: #eff6ff;
	text-align: center;

	ul {
		li {
			display: flex;
			justify-content: center;


			&:not(:last-child) {
				margin-bottom: 8px;
			}

			span {
				display: flex;
				align-items: center;
				font-size: 14px;
				color: #777;

				&:not(:last-child) {

					&::after {
						content: "";
						width: 1px;
						height: 8px;
						background-color: #d9d9d9;
						margin: 0 8px;
					}
				}
			}
		}
	}

	p {
		font-size: 13px;
		font-weight: 300;
		color: #bbb;
		margin-top: 13px;
	}
}

/* bt_top */
.bt_top {
	position: fixed;
	bottom: 30px;
	right: 80px;
	z-index: 998;
	width: 80px;
	height: 80px;
	visibility: hidden;
	border-radius: 50%;
	background: url('../img/btn-top.svg') no-repeat center;
	cursor: pointer;
}

/* ani */
.page2 {
	.swiper-slide-active {

		.title {
			animation: fadeInUp;
			animation-duration: 1s;
		}

		.cont {
			animation: fadeInUp;
			animation-duration: 1s;
			animation-delay: 0.1s;
		}

		article {
			h3 {
				animation: zoomIn;
				animation-duration: 1s;
			}

			.box {
				animation: zoomIn;
				animation-duration: 1s;
			}
		}
	}
}

.link_page.page3.active {
	.swiper-slide-active {

		h3 {
			animation: fadeInUp;
			animation-duration: 1s;
			animation-delay: 0.3s;
		}

		p {
			animation: fadeInUp;
			animation-duration: 1s;
			animation-delay: 0.3s;
		}

		h5 {
			animation: zoomIn;
			animation-duration: 1s;
			animation-delay: 0.3s;
		}

		li {
			animation: zoomIn;
			animation-duration: 1s;
			animation-delay: 0.3s;
		}
	}
}

.link_page.page4.active {
	.swiper.type2 {
		.swiper-slide-active {

			.cont_list li {
				animation: zoomIn;
				animation-delay: 0.6s;
				animation-duration: 1.3s;
			}
		}
	}

}

@media (max-width: 1400px) {

	.page6 form .form_wrap {
		column-gap: 60px;
	}
}